/* home */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.contanier{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contanier::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #3c3495;
}
.contanier .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #3e0c32;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}
.hero nav .logo{
    color: #481f82;
    font-size: 45px;
    font-weight: bold;
}
.hero nav .nav-links a {
    color: #562162;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active{
    color: #450b46;
}
.hero .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.hero .content .div-text{
    width: 40%;
}
.hero .content .div-text h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
}
.hero .content .div-text h4{
    color: #19181a;
    font-size: 24px;
    margin-bottom: 10px;
}
.hero .content .div-text p{
    color: #4f4f4f;
    margin-bottom: 50px;
    font-size: 18px;
}
.hero .content .div-text .btn{
    padding: 15px 20px;
    background-color: #673667;
    border: 2px solid #801f82;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.hero .content .div-text .btn:hover{
    color: #801f82;
    transition: 0.3s;
    background-color: transparent;
}

.hero .content .div-img{
    width: 40%;
}
.hero .content .div-img img{
    width: 100%;
}
/* animation */

.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}
.hero .logo{
    animation-delay: 0.2s;
}
.hero .content .div-text h1{
    animation-delay: 0.5s;
}
.hero .content .div-text h4{
    animation-delay: 0.9s;
}
.hero .content .div-text .btn{
    animation-delay: 1.8s;
}

@keyframes slide-top{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.hero .content .div-text p{
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}
@keyframes slide-right{
    0%{
        left: 100px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

.hero .content .div-img img{
    opacity: 0;
    transform: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 2.1s;
}
@keyframes fade-img{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

/* ABOUT PAGE */

    .about_container{
    width: 100%;
    padding: 50px 8%;
  }

  .imageSection{
    grid-area: imageSect;
  
  }

  .infoSection{
    grid-area: infoSect;
 
  }

  .skillSection{
    grid-area: skillSect;
  
  }

  .about_container .about_contents{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
    grid-template-areas: 'imageSect infoSect ' 
                         'skillSect skillSect';
  }

  .about_contents .imageSection{
    position:relative;
    min-width: 300px;
    height: 380px;
  }

  .imageSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }

  .about_contents .imageSection::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #1e0352;
    top: 15px;
    left: 15px;
    z-index: 1;
  }

  .infoSection h1{
    color: #31205c;
    font-size: 30px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
  }

  .infoSection h1 ::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #a2a7c1;
  }

  .infoSection h1 ::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: #513761;
  }

  .infoSection h2{
    color: #31205c;
    font-size: 30px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
  }

  .infoSection h2 ::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #a2a7c1;
  }

  .infoSection h2 ::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: #513761;
  }

  
  .infoSection p{
    color: #0b0b0b;
    font-size: 17px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
    font-family: sans-serif;
  }

  .personalInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #141313;
  }

  .personalInfo div{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .personalInfo div span{
    color: #20284e;
    letter-spacing: 1px;

  }

  .skillSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px 80px;

  }

  .skillSection .subject{
    font-size: 17px;
    font-weight: thin;
    color: #252c51;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .progress_bar{
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 15px;
  }

  .progress_line{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #787cb5;
    box-shadow: -1px -1px 2px #222222,
                -1px 1px 2px #111111;
    border-radius: 15px;
  }

  .progress_line::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0px;
    transform: translateX(-50%);
    color: #1a2457;
    font-size: 17px;
  }

  @media(max-width: 1068px){
    .about_container .about_contents{
        grid-template-areas: 'imageSect skillSect' 
                             'infoSect infoSect';
      }
    
  }

  /* ACADEMIC PAGE */

  main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #421f87;
}

.education-item {
    margin-bottom: 20px;
}

.education-item h3 {
    color: #441b80;
}

.date {
    color: #888;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
  
  /* EXPERIENCE PAGE */

  .menu{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

menu a:hover {
    color: #007bff;
}

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #14274f;
    color: white;
    font-size: 22px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.gallery-item {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.overlay-content {
    text-align: center;
}

p {
    margin: 5px 0;
}



  /* CONTACT PAGE */

body, input,textarea, a{
    font-family: 'Roboto', sans-serif;
}
#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #F44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: #F44770;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #95217a;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #31279d;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
  }

 